.card-r{
    
}

.card-r:hover{ 
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#title-r{
    text-align: center;
}

.img-r{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.body-r{
    width: 80%;
    margin:0 auto;
}