.h1-a{
    text-align: center;
    
}

.file-input{
    margin: 50px;
    text-align: center;
    background-color: rgba(0, 63, 165, 0.571);
    height: 150px;
    input{
        width: 50%;
        margin: 10px auto;
    }
    
}

.name{
    width: 50%;
    margin: 50px;
}

textarea{
    height: 300px;
}

.atr{
    width: 50%;
    margin: 50px;
}

.btn-bd{
    width: 30%;
    margin: 50px;
}

